{% block content%}
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="col-md-12">
						<h5 style="font-weight: bold; margin-top: -5px">Quick Links</h5>
					</div>
					<div class="col-md-6">
						<a href="{% url 'index' %}">Home</a>
						<!-- <a href="">Programs</a> -->
						<!-- <a href="">Blogs</a> -->
						<a href="{% url 'about' %}">About</a>
					</div>
					<div class="col-md-6">
						<!-- <a href="">Gallery</a> -->
						
					</div>
				</div>
				<div class="col-md-5 col-md-offset-4">
					<div class="col-md-4">
						Find Us at: 
					</div>
					<div class="col-md-8">
						Kampus Terpadu Universitas Islam Indonesia jln. Kaliurang KM. 14.5 Sleman, DI Yogyakarta
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="copyrights">
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<h6 class="text-right">Powered by Dreams - Sulur DreamWorks 2019</h6>				
			</div>
		</div>
	</div>
{% endblock %}