{% block content %}
	{% load staticfiles %}
	<div class="jumbotron" style="min-height: 550px;">
		<div class="container">
				<div class="title">
					<div class="row">
						
						<div class="col col-md-12 col-sm-12 col-xs-12">
							<img src="{% static 'pictures/sulur-motto.png' %}" alt="" class="img-responsive" style="max-width: 800px; margin: 50px auto;">
							
							
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="jumbo">
	</div>
	<div class="programs">
		<h1>Programs</h1>
		<hr style="" >
		<div class="container" style="padding:20px 100px;">
			<div class="row">
				<div class="col col-md-4 thumbnail" style="border: none; box-shadow: 0;">
					<img src="{% static 'pictures/book.png' %}" alt="" class="img-programs">
					<h2>Study Group</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. .</p> -->
				</div>
				<div class="col col-md-4 thumbnail" style="border: none;" >
					<img src="{% static 'pictures/code.png' %}" alt="" class="img-programs">
					<h2>Technology</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. .</p> -->
				</div>
				<div class="col col-md-4 thumbnail" style="border: none;" >
					<img src="{% static 'pictures/hand.png' %}" alt="" class="img-programs">
					<h2>Giving</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. .</p> -->
				</div>

			</div>
		</div>
	</div>
	<div class="quote">
		<div class="container" style="padding: 70px 100px;">
			<!-- <img src="{% static 'pictures/quote-left.png' %}" alt="" class="img-responsive" style="max-width: 100px; margin: 0 auto;"> -->
			<p class="text-center">Technology is nothing. What's important is that you have faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them.  </p>
			<br>
			<p style="text-align: right;"> - Steve Jobs</p>
		</div>
	</div>
	<div class="quote-cover">
		
	</div>
	<!-- <div class="gallery">
		<div class="row">
			<div class="col-md-6">
				<h1>Gallery</h1>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, eos, fugit. Quam quaerat doloremque error, ratione ipsum culpa temporibus quod hic! Dolorum molestias accusantium fugit enim et eveniet error, velit.</p>
			</div>
		</div>
	</div>-->
	<div class="latest-articles" style="padding-bottom: 100px;">
		<div class="container">
			<h1>Latest Events</h1>
			<hr>
			<!-- <div class="col-md-4 articles">
				<div class="thumbnail" style="padding: 0;">
					<img src="{% static 'pictures/og_image.jpg' %}" alt="" class="img-articles">
					<div class="caption">
						<h3>Google Opens Internship Programs for Students</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident accusantium rem maiores! Maxime accusamus inventore dignissimos,!</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 articles">
				<div class="thumbnail" style="padding: 0;">
					<img src="{% static 'pictures/google-02-01.jpg' %}" alt="" class="img-articles">
					<div class="caption">
						<h3>Google Opens Internship Programs for Students</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident accusantium rem maiores! Maxime accusamus inventore dignissimos,!</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 articles">
				<div class="thumbnail" style="padding: 0;">
					<img src="{% static 'pictures/news-stage.jpg' %}" alt="" style="" class="img-articles">
					<div class="caption">
						<h3>Apple Launch Their New IOS Version</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident accusantium rem maiores! Maxime accusamus inventore dignissimos,!</p>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-11">
				<a href="#" style="text-decoration: none; color: ">View More</a>
			</div> -->
			<div class="col-md-6" style="padding: 10px;">
				<div class="container-fluid">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe  src="https://www.youtube.com/embed/qGqM3PWnPJk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="embed-responsive-item"></iframe>
					</div>
					
				</div>
			</div>
			<div class="col-md-6" style="padding: 10px;">
				<div class="container-fluid">
					<h2>Webinar 1.0: The Perks of Study Abroad</h2>
					<p>
						The first web seminar by Sulur Dream Work with theme 
						"The Perks of Study Abroad". This season, we invite three 
						amazing UII students who study abroad as speakers :
						<br>
						1. Ibrahim Surya Putra - Youngsan University, South Korea
						<br>
						2. Silfa Kurnia Aditya - Chulalongkorn University, Thailand
						<br>
						3. Sabika Amalina - NXU, China
					</p>
				</div>
			</div>
		</div>
		
		
	</div>
	
{% endblock %}