{% block content %}
  {% load staticfiles %}
	<nav class="nav navbar-default" id="nav">
		<div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                   <span class="sr-only" style="color: white;">Toggle Navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               
               <a class="navbar-brand" href=" {% url 'index' %}"><img src="{% static 'pictures/sulur.png' %}" style="max-height: 55px; margin-top: -10px;height: 40px; display: inline-block;" id="#logo"></a>
           </div>
           <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right" id="link-nav">
                   <li><a href="{% url 'index' %}">Home</a></li>
                   <li><a href="{% url 'about' %}">About</a></li>
                   <!-- <li><a href="#kontak">Blog</a></li> -->
               </ul>

           </div>
       </div>

	</nav>
{% endblock %}