.content-section{
	padding:20px 20px;
	margin-bottom: 100px;
}
.content{
	font-weight: lighter;
	text-align: justify;
}
.share-socmed{
	margin-top: 100px;
}
.socmed-button{
	border:1px solid #e0e0e0;
	text-align: center;
	padding-top: 35px;
	height: 100px;
	width: 100px;
}
.media{
	height: 50px;
}