h1,
h2,
h3,
h4 {
  font-weight: bolder;
}
h2.text-center {
  color: #f5f5f5;
}
.jumbotron {
  background-image: url("../pictures/jumbo.jpg");
  background-size: cover;
  min-height: 550px;
  z-index: 1;
}
.jumbo {
  min-height: 550px;
  margin-top: -580px;
  background: rgba(46, 131, 118, 0.42);
  z-index: -10;
}

#link-nav li a {
  color: #2e8376;
}
#link-nav li a:hover {
  color: #2e8376;
}
#nav {
  background: transparent;
  position: static;
  width: 100%;
  z-index: 99999;
  transition: all ease 0.5s;
  border: none;
  color: #ffffff;
  /* margin-bottom: -50px; */
}
* {
  font-family: "Ubuntu", sans-serif;
  top: 0;
  bottom: 0;
}
.title {
  margin-top: 80px;
  color: #f5f5f5;
}
.paragraph {
  font-family: "open-sans", sans-serif;
  color: #f5f5f5;
}
.programs,
.gallery {
  padding-top: 10px;
  text-align: center;
  color: #383735;
}
.programs h1 {
  font-weight: bold;
}
.thumbnail > .img-programs {
  max-height: 120px;
}

.programs > hr,
.gallery hr,
.latest-articles hr {
  width: 120px;
  border: 3px solid #383735;
  border-radius: 5px;
}

.quote {
  background-image: url("../pictures/classroom.jpg");
  height: 300px;
}
.quote .container .row .col-md-12 > p {
  color: #f5f5f5;
  font-size: 30px;
  font-style: italic;
}
.quote-cover {
  min-height: 300px;
  background: rgba(46, 131, 118, 0.8);
  margin-top: -300px;
}
.col-md-4 > .photo-gallery {
  max-width: 100px;
}
.latest-articles {
  background-color: #e5dfdf;
  padding-bottom: 20px;
}
.latest-articles h1 {
  font-weight: bold;
  text-align: center;
}

.thumbnail > .img-articles {
  height: 200px;
  width: 500px;
}
.container > .articles {
  padding: 30px 15px;
}
.latest-articles {
  padding-top: 30px;
}
.copyrights {
  padding: 10px 50px;
  background-color: #485d70;
  color: white;
}
.footer a {
  display: block;
  color: white;
}
.footer a:hover {
  text-decoration: none;
  color: #485d70;
}
.footer {
  padding: 30px 30px;
  background-color: #778494;
  color: white;
}
.jumbotron hr {
  border: 1px solid white;
  width: 300px;
}
p {
  font-family: "Arial";
  font-weight: lighter;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    min-height: 300px;
    background-size: cover;
  }
  .jumbo {
    min-height: 300px;
    margin-top: -330px;
  }
  .quote {
    margin-top: 10px;
  }
  .quote .container .row .col-md-12 > p {
    font-size: 14px;
  }
}
