{% extends "personal/header.html" %}
{% load staticfiles %}

{% block content %}
	
	<head>
		<title>About us</title>
		<link rel="stylesheet" href="{% static 'css/content.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<style>
	@media only screen and (max-width:600px){
		.jumbo{
			margin-top:-342px; min-height:312px;
		
		}
		.jumbotron{
			padding-top: -100px;
		}
		#text-jumbo{
			margin-top: ;
		}
	}
	
	</style>
 	{% include "personal/includes/navbar.html" %}
 	<div class="jumbotron">
		<div class="container">
				<div class="title">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="text-center" id="text-jumbo">
								<h2 class="text-center " style="font-weight: bold;">Want to know something about us?</h2>
								<hr>
							<p class="paragraph">You're in the right page</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="jumbo" style="">
	
	</div>
	<div class="content-section" style="padding-bottom: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="container-fluid content">
						<div class="fade-in">
							<h2>Our Story</h2>
							<hr>
							<p>Sulur Dream Work was officially established at the beginning of 2018. Starting from participating in a start-up competition that was formerly called DONASEE! It all started over a cup of coffee, at our favorite cafe. The project initially consisted of only 5 students who wanted to be active in internal and external activities. From a small village in Sleman, Yogyakarta, we often exchange ideas and even confide about anything. Until a challenge arises, we want to help our friends who get lost and start feeling they’ve chosen the wrong course in college. We want to open their minds that Computer Science is not only about coding and algorithms. There are a lot of things that we can explore and develop in with our own potential.</p>
							<hr width="300px;" style="border: 1.5px solid #485d70; border-radius: 5px;">
							<p><img src="{% static 'pictures/story.jpg' %}" alt="" class="img-responsive"></p>
							<br>
							<p>In the mid of 2017, we tried to explore our ideas. Finally we passed the competition in Jakarta. We know It's surprising!. But we believe this is the beginning and a challenge for us. We took part in various sessions, until we met someone who really motivated us. He opened our minds. He said that “a small thing or action is start with yourself and believe it or not it will change a lot of things”. Indeed, we went home without carrying any trophies, but we brought a lot of knowledge. At the beginning of 2018, we met at a coffee shop. We finalized our ideas, get more members and improve our projects. Then, the Sulur Dream Work was finally born, which now has 12 members.</p>

							<p>In general, Sulur Dream Work  is a community that has a dream of becoming a non-governmental organization (NGO) that focus on education. The main focus of SULUR DREAM WORK is to provide technology literacy education to the people especially Indonesian. More specifically children at the elementary school to junior high school. SULUR DREAM WORK goals not only to be able to educate by learning and teaching, but also to raise awareness of students as members, improving our communication skills, enhance creativity, and help contribute towards achieving Indonesia's goals.</p>	
						</div>
						
					</div>
					<div class="container-fluid content">
						<div class="fade-in">
							<h2>Our Vision</h2>
							<hr>
							<div class="row">
								<div class="col-md-1" style="margin-left: 20px;">
									<div class="box" style="width: 5px; height: 80px; background-color: #485d70;">
										
									</div>
								</div>
								
								<div class="col-md-11" style="margin-left: -25px;">
									<h5 style="font-weight: bold;">"The vision of SULUR DREAM WORK is for Indonesian to have better knowledge and awareness in technology literacy and for everyone in the department of Informatics, Universitas Islam Indonesia, to be more proactive throughout their study process at university."</h5>
								</div>
							</div>
							<br><br>
							SULUR DREAM WORK is working on several objectives:
							<br>
							<br>
							<ul>
								<li>To improve the awareness of Technology Literacy among people in Indonesia</li>
								<li>To help realize the national education goal of Indonesia, based on Pancasila and Undang-Undang Dasar 1945: to create nation’s intelligent</li>
								<li>To provide opportunities for students to connect to each other by sharing knowledge and supporting each other</li>
								<li>To equip students with demanded experiences and skills, and be a launching pad for students to build successful journey at university as well as future career</li>
								<li>To improve the university life of our members, both educationally and socially, through social activities, development workshop, and meaningful discussion</li>
								
							</ul>
							
						</div>
						
					</div>
					<div class="container-fluid content">
						<div class="fade-in">
							<h2>Our Teams</h2>
							<hr>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4">
									<div class="our-team-wrapper">
										<div class="overlay">
											<div class="text-center text">Rizal Hamdan Arigusti</div>
										</div>
										<img src="{% static 'pictures/photo_me.jpg' %}" alt="" style="width: 100%; height: auto;">
										
									</div>
									
								</div>	
							</div>
							
						</div>
						
					</div>
					<div class="container-fluid content">
						<div class="fade-in">
							<h2>Our Partners</h2>
							<hr>
							<!-- <p><img src="{% static 'pictures/google-02-01.jpg' %}" alt="" class="img-responsive"></p> -->
							<br>
							<p>A community and organization certainly cannot escape the touch of those who are important and who can develop us into a community that is beneficial to others. Alhamdulillah, Sulur Dream Work is currently supported by academy communities in the Department of Informatics in Islamic University of Indonesia itself, both by our lecturers, fellow students, our seniors, our juniors, and alumni. With their role too, slowly we become an association that is increasingly proactive and motivate to fellow students who want to improve themselves to become better individuals in the future.</p>
						</div>
						
					</div>
				</div>				
				<div class="col-md-3 col-md-offset-1" style="padding-top: -10px; margin-top: 30px; padding-bottom: 30px;">
			
						<div class="col-md-12 col-xs-12 col-sm-12 sidebar-about-thumbnail active" onclick="showContents(0)">
								<img src="{% static 'pictures/sulur.png' %}" alt="" class="img-responsive" style="float:left; display: inline-block; max-height: 32px;position: absolute; top: 15%; left: 10%;">
								<h5 style="position: absolute; top: 10%; left: 30%;">Our Story</h5>
						</div>
					
						<div class="col-md-12 col-xs-12 col-sm-12 sidebar-about-thumbnail" onclick="showContents(1)">
								<img src="{% static 'pictures/sulur.png' %}" alt="" class="img-responsive" style="float:left; display: inline-block; max-height: 32px;position: absolute; top: 15%; left: 10%;">
								<h5 style="position: absolute; top: 10%; left: 30%;">Our Vision and Objective</h5>
						</div>

						<div class="col-md-12 col-xs-12 col-sm-12 sidebar-about-thumbnail" onclick="showContents(2)">
								<img src="{% static 'pictures/sulur.png' %}" alt="" class="img-responsive" style="float:left; display: inline-block; max-height: 32px;position: absolute; top: 15%; left: 10%;">
								<h5 style="position: absolute; top: 10%; left: 30%;">Our Team</h5>
						</div>
						<div class="col-md-12 col-xs-12 col-sm-12 sidebar-about-thumbnail" onclick="showContents(3)">
								<img src="{% static 'pictures/sulur.png' %}" alt="" class="img-responsive" style="float:left; display: inline-block; max-height: 32px;position: absolute; top: 15%; left: 10%;">
								<h5 style="position: absolute; top: 10%; left: 30%;">Our Partners</h5>
						</div>
						
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/about.js' %}"></script>
 	{% include "personal/includes/footer.html" %}
{% endblock %}